{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    {{ template "form" .Form }}
    <hr>
    {{ template "display" .Data }}

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener("htmx:beforeSwap", (evt) => {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            })
        })
    </script>
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
    name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name">
    email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email">

    {{ if .Errors.email }}
    <div style="color:red">{{ .Errors.email }}</div>
    {{ end }}

    <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display:flex;flex-direction:column">
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div class="contact" id="contact-{{ .Id }}" style="display:flex">
    <div hx-indicator="#ci-{{ .Id }}" hx-target="#contact-{{ .Id }}" hx-swap="outerHTML swap:500ms"
        hx-delete="/contacts/{{ .Id }}" style="width:1rem;cursor:pointer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
        </svg>
    </div>

    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>

    <div id="ci-{{ .Id }}" class="htmx-indicator">
        <img src="/images/bars.svg" alt="loading" style="width:1rem">
    </div>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
</div>
{{ end }}